<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Release date</th>
      <th>Description</th>
      <th>Downloads</th>
      <th>Rated times</th>
      <th>Author</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.rating %></td>
        <td><%= app.release_date %></td>
        <td><%= app.description %></td>
        <td><%= app.downloads %></td>
        <td><%= app.rated_times %></td>
        <td><%= app.author %></td>
        <td><%= app.version %></td>
        <td><%= link_to 'Show', app %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
