<!DOCTYPE html>
<html>
  <head>
    <title>AppGarage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <div class="ui stackable menu">
        <a class="item" href="/">
          <img src="/logo.png">
        </a>
      </div>
    </div>
    <div class="ui container content">
      <%= yield %>
    </div>
  </body>
</html>
